<% head %>
    <title>Home</title>
    <link rel="stylesheet" href="/css/home.css">
<% /head %>

<body>
    <h1>Welcome home!</h1>
    <div>
        <a href="https://en.wikipedia.org/wiki/Cape_Foulweather" title="Cape Foulweather seaside - Depoe Bay, Oregon">
            <img src="/media/cape-foulweather.jpg" id="seaside-img">
        </a>
        <div>
            <a href="https://www.freeimages.com/photographer/MEJones-70761"><h5>Photo by Martyn E. Jones</h5></a>
        </div>
    </div>
</body>
